.DS_Store
.ipynb_checkpoints/
__pycache__/
.venv/
*.pyc
qmc.egg-info/
config/
ipynb/
new/
optimal/
optimal_result/
optimal2/
optimal3/
plots/
results/
temp/
comparison_of_variances.png
ECP.png
electron_electron_energy_comparison.png
electron_ion_energy_comparison.png
energy_comparison.png
Energy.png
Case1.ipynb
Case2.ipynb
Case3.ipynb
energy.py
example.ipynb
gradient_script.py
gradients_script.ipynb
graph_for_1.png
graph_for_2png.png
graph_for_10png.png
graph.png
independent.ipynb
kinetic_enrgy_comparison.png
Max_age.ipynb
output2.png
sample_variance_over_time.png
sample_variance.png
Script.ipynb
script3.ipynb
vmc_energy_analysis.png
vmc_performance_analysis.png
qmc/__pycache__
qmc/.ipynb_checkpoints
qmc/qmc.egg-info